*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot

# Ignore public/storage completely
/public/storage/*

# Allow specific folders
!/public/storage/banner/
!/public/storage/site-settings/
!/public/storage/cms/
!/public/storage/fonts/
!/public/storage/subscriptions/

# Ignore sensitive storage files
/storage/*.key
/storage/pail
/vendor

Homestead.json
Homestead.yaml
Thumbs.db
*.md
/tests
!readme.md
*.ps1
*.sh
